#view--map {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba($black,.35);
	.map__incentive {
		background-color: $black;
		width: 100%;
		max-width: 1080px;
		margin: 0 auto;
	}
}
/* Medium and up */
@media screen and (min-width: 40em) {}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}
/* Large and up */
@media screen and (min-width: 64em) {
	#view--map {
		width: 100%;
		max-width: 1080px;
		height: auto;
		top: 0;
		border: 0;
	}
}
/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}