.map__incentive {
	padding: 3rem 1rem;
	position: relative;
	&:after {
		position: absolute;
		content: 'Incentive';
		text-transform: uppercase;
		font-family: 'Roboto', Helvetica, sans-serif;
		font-weight: 400;
		color: $red;
		font-size: 2rem;
		top: 100px;
		left: 0;
		right: 0;
		z-index: 2;
		text-align: center;
	}
	img {
		position: relative;
	}
	.map__incentive--info {
		display: block;
		margin: 1rem 0;
		&.show {
			display: block;
		}
		h6 {
			text-transform: uppercase;
			background-color: $white;
			color: $black;
			width: 100%;
			padding: .5rem 1rem;
			font-family: 'Roboto', Helvetica, sans-serif;
			font-weight: 700;
			font-size: 1rem;
		}
		.map__incentive--single-item {
			padding: .75rem 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
			border-bottom: 1px solid rgba($white,.25);
			a {
				color: $red;
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 1rem;
				width: 100%;
				font-family: 'Roboto', Helvetica, sans-serif;
				font-weight: 400;
				i {
					flex: 0 1 auto;
					margin-left: 1rem;
				}
			}
			&:last-of-type {
				border-bottom: 0;
			}
			&:hover {
				a {
					color: $red;
				}
			}
		}
	}
}
/* Medium and up */
@media screen and (min-width: 40em) {}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}
/* Large and up */
@media screen and (min-width: 64em) {
	.map__incentive {
		position: relative;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 5rem 0;
		img {
			width: 100%;
			max-width: 913px;
		}
		.map__incentive--info {
			display: none;
			position: absolute;
			top: 50%;
			transform: translatey(-50%);
			background-color: $red;
			&.show {
				display: block;
			}
			h6 {
				text-transform: uppercase;
				background-color: $white;
				color: $black;
				width: 100%;
				padding: .5rem 1rem;
				font-family: 'Roboto', Helvetica, sans-serif;
				font-weight: 700;
				font-size: .8rem;
			}
			.map__incentive--single-item {
				padding: .5rem 1rem;
				display: flex;
				align-items: center;
				justify-content: center;
				border-bottom: 1px solid rgba($white,.25);
				a {
					color: $black;
					display: flex;
					align-items: center;
					justify-content: space-between;
					font-size: .8rem;
					width: 100%;
					font-family: 'Roboto', Helvetica, sans-serif;
					font-weight: 400;
					i {
						flex: 0 1 auto;
						margin-left: 1rem;
					}
				}
				&:last-of-type {
					border-bottom: 0;
				}
				&:hover {
					a {
						color: $white;
					}
				}
			}
		}
	}
}
/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}